.header-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.header-side .buttons {
  display: flex;
  gap: 10px;
}
.header-side .buttons button {
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(89, 184, 219);
  color: rgb(255, 255, 255);
  border-radius: 3px;
}
