.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  align-items: center;
  margin-left: 45%;
  margin-top: 18%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #1fff78 transparent #11b4ef transparent;
  animation: lds-dual-ring 1s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
