nav {
  background-color: #1e8ee9;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
}

nav .dropdown img {
  width: 35px;
  cursor: pointer;
}
nav .btn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
nav .dropdown-menu {
  position: absolute;
  right: 1px;
  bottom: -95px;
  width: 185px;
  height: 95px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  border-radius: 5px;
  background-color: rgb(71, 187, 255);
  padding: 4px;
}
nav .dropdown-menu.active {
  opacity: 1;
  visibility: visible;
}

nav .dropdown-menu li {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
ul a{
  color :aliceblue;
  cursor: pointer;
  text-decoration: none;
}
